*{
	margin: 0;
	padding:0;
	font-family: 'Lato', sans-serif;
}
.tarjeta{
	position: relative;
	margin: 10px;
}
div#contenido{
	height: 42px;
	width: 100%;
	border: solid 2px #A4A4A4;
	display: flex;
	flex-direction: row;
	position: absolute;
}
.texto{
	overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
}
.fa-circle-o{
	padding: 3px;
	color: #FF8000;
	font-size: 20px;
}
.fa-wrench{
	padding: 3px;
	color: #FF8000;
	font-size: 20px;
}

#menu{
	height: 42px;
	width: 100%;
	font-size: 20px;
	color: #FF8000;
	border: solid 2px #A4A4A4;
	background-color: #A4A4A4;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	z-index: 20;
	display: none;
}
#icono1{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#icono2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#icono3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#icono4{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.nombreMenu{
	color: #ffffff;
	display: none;
}
#contenido:hover div#menu{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#icono1:hover .eliminar{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#icono2:hover .editar{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#icono3:hover .asignar{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#icono4:hover .agregar{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
